# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# IDE / Editor directories
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
chrome-data/
dist/
build/
temp/
camoufox_data/
chrome-data3/
chrome-data2/
chrome-data4/
chrome-data5/



# Database files
*.db

